#footer {
  background: red;
  color: red;
  font-size: 15px;
}

#top-chess {
  display: block;
  margin: 10px auto;
  border-bottom: 2px solid rgba(200, 200, 200, 0.8);
}

#top-chess h1, #top-chess h2, #top-chess h3, #top-chess h4, #top-chess h5 {
  text-align: center;
}

#main-chess {
  display: flex;
  margin: 0 0 15px 0;
  text-align: center;
  justify-content: center;
}

#main-tabuleiro {
  width: 100%;
  position: relative;
  max-height: 800px;
  max-width: 800px;
  padding: 0;
  border: 1px solid #969696;
}

#main-tabuleiro #lista-tabuleiro {
  padding: 0;
  margin: 0;
  list-style: none;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro {
  margin: 0;
  padding: 0;
  box-sizing: initial;
  float: left;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro:hover {
  cursor: pointer;
  opacity: 0.8;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h1"]:after {
  content: "1";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h1"]:before {
  content: "h";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h2"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h2"]:after {
  content: "2";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h3"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h3"]:after {
  content: "3";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h4"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h4"]:after {
  content: "4";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h5"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h5"]:after {
  content: "5";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h6"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h6"]:after {
  content: "6";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h7"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h7"]:after {
  content: "7";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h8"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h8"]:after {
  content: "8";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 40%;
  left: 0;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="g1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="g1"]:before {
  content: "g";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="f1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="f1"]:before {
  content: "f";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="e1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="e1"]:before {
  content: "e";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="d1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="d1"]:before {
  content: "d";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="c1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="c1"]:before {
  content: "c";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="b1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="b1"]:before {
  content: "b";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="a1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="a1"]:before {
  content: "a";
  font-size: 1em;
  display: block;
  position: absolute;
  top: 0;
  right: 50%;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a {
  text-decoration: none;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-branca {
  color: rgba(255, 255, 255, 0.8);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-branca:hover {
  color: white;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-preta {
  color: rgba(0, 0, 0, 0.8);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-preta:hover {
  color: black;
}
