#footer {
  background: red;
  color: red;
  font-size: 15px;
}

#top-chess {
  display: block;
  margin: 10px auto;
  border-bottom: 2px solid rgba(200, 200, 200, 0.8);
}

#top-chess h1, #top-chess h2, #top-chess h3, #top-chess h4, #top-chess h5 {
  text-align: center;
}

#main-chess {
  display: flex;
  margin: 0 0 15px 0;
  text-align: center;
  justify-content: center;
}

#main-tabuleiro {
  width: 100%;
  position: relative;
  max-height: 800px;
  max-width: 800px;
  padding: 0;
  border: 1px solid #969696;
}

#main-tabuleiro #lista-tabuleiro {
  padding: 0;
  margin: 0;
  list-style: none;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro {
  margin: 0;
  padding: 0;
  box-sizing: initial;
  float: left;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a {
  text-decoration: none;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-branca {
  color: rgba(255, 255, 255, 0.8);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-branca:hover {
  color: white;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-preta {
  color: rgba(0, 0, 0, 0.8);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-preta:hover {
  color: black;
}
