#footer {
  background: red;
  color: red;
  font-size: 15px;
}

#top-chess {
  display: block;
  margin: 10px auto;
  border-bottom: 2px solid rgba(200, 200, 200, 0.8);
}

#top-chess h1, #top-chess h2, #top-chess h3, #top-chess h4, #top-chess h5 {
  text-align: center;
}

#main-chess {
  display: flex;
  margin: 0 0 15px 0;
  text-align: center;
  justify-content: center;
}

#corpo-jogadas::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

#corpo-jogadas::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

#corpo-jogadas::-webkit-scrollbar:hover {
  cursor: pointer;
}

#corpo-jogadas::-webkit-scrollbar-thumb {
  background: #dad7d7;
  border-radius: 5px;
}

#corpo-jogadas #lista-jogadas {
  list-style: none;
  padding: 0;
  margin: 0;
}

#corpo-jogadas #lista-jogadas li {
  font-style: italic;
  padding: 5px;
}

#corpo-jogadas #lista-jogadas li span {
  font-weight: bold;
  font-style: normal;
}

#corpo-jogadas #lista-jogadas li:nth-child(even) {
  background: rgba(0, 0, 0, 0.5);
}

#corpo-jogadas #lista-jogadas li:nth-child(odd) {
  background: rgba(100, 100, 100, 0.5);
}

#main-tabuleiro {
  position: relative;
  margin-top: 1em;
  max-height: 800px;
  max-width: 800px;
  padding: 0;
}

#main-tabuleiro #lista-tabuleiro {
  padding: 0;
  margin: 0;
  list-style: none;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro {
  margin: 0;
  padding: 0;
  box-sizing: initial;
  float: left;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro:hover {
  cursor: pointer;
  opacity: 0.8;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h1"]:after {
  content: "1";
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  height: 100%;
  line-height: 5em;
  width: 1.5em;
  background-color: tan;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  color: rgba(139, 69, 19, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h1"]:before {
  content: "H";
  top: -1em;
  background-color: tan;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(139, 69, 19, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h2"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h2"]:after {
  content: "2";
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  height: 100%;
  line-height: 5em;
  width: 1.5em;
  background-color: saddlebrown;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  color: rgba(210, 180, 140, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h3"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h3"]:after {
  content: "3";
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  height: 100%;
  line-height: 5em;
  width: 1.5em;
  background-color: tan;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  color: rgba(139, 69, 19, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h4"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h4"]:after {
  content: "4";
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  height: 100%;
  line-height: 5em;
  width: 1.5em;
  background-color: saddlebrown;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  color: rgba(210, 180, 140, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h5"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h5"]:after {
  content: "5";
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  height: 100%;
  line-height: 5em;
  width: 1.5em;
  background-color: tan;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  color: rgba(139, 69, 19, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h6"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h6"]:after {
  content: "6";
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  height: 100%;
  line-height: 5em;
  width: 1.5em;
  background-color: saddlebrown;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  color: rgba(210, 180, 140, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h7"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h7"]:after {
  content: "7";
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  height: 100%;
  line-height: 5em;
  width: 1.5em;
  background-color: tan;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  color: rgba(139, 69, 19, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h8"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="h8"]:after {
  content: "8";
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 0;
  left: -1.5em;
  height: 100%;
  line-height: 5em;
  width: 1.5em;
  background-color: saddlebrown;
  border-right: 0.5px solid rgba(0, 0, 0, 0.5);
  color: rgba(210, 180, 140, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="g1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="g1"]:before {
  content: "G";
  top: -1em;
  background-color: saddlebrown;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(210, 180, 140, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="f1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="f1"]:before {
  content: "F";
  top: -1em;
  background-color: tan;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(139, 69, 19, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="e1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="e1"]:before {
  content: "E";
  top: -1em;
  background-color: saddlebrown;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(210, 180, 140, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="d1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="d1"]:before {
  content: "D";
  top: -1em;
  background-color: tan;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(139, 69, 19, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="c1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="c1"]:before {
  content: "C";
  top: -1em;
  background-color: saddlebrown;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(210, 180, 140, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="b1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="b1"]:before {
  content: "B";
  top: -1em;
  background-color: tan;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(139, 69, 19, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="a1"] {
  position: relative;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro[data-pos="a1"]:before {
  content: "A";
  top: -1em;
  background-color: saddlebrown;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  font-size: 1em;
  font-weight: bold;
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgba(210, 180, 140, 0.5);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a {
  text-decoration: none;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-branca {
  color: rgba(255, 255, 255, 0.8);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-branca:hover {
  color: white;
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-preta {
  color: rgba(0, 0, 0, 0.8);
}

#main-tabuleiro #lista-tabuleiro .item-tabuleiro a.peca-preta:hover {
  color: black;
}
